@import url('https://fonts.googleapis.com/css2?family=PT+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
html {
    height: 100%;
}
body {
    background-image: url("./Background.PNG");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    font-family: 'Roboto', sans-serif;
}
#root {
    height: 100%;
}
.App {
    height: 100%;
}
.home {
    height: 100%;
}
.wrapper {
    border-radius: 50px;
    width: 70%;
    min-height: calc(100% - 200px - 256px);
    margin: 100px auto;
    background: #3F7162;
    color: white;
    padding: 30px 10px;
}
.welcome {
    text-align: center;
    margin: 0;
    font-family: 'PT Serif', serif;
    font-size: 40px;
}
.welcomeText {
    font-size: 20px;
    line-height: 1.5;
}